<%- include header %>
<p class="info">
	作者：<a class="article-author" href="/u/<%= doc.name %>"><%= doc.name %></a> |
	日期：<%= doc.time.minute %>
	<!-- 判断当前用户是否有编辑删除这篇文章的权限,非本人无法操作 -->
	<% if (user && (user.name == doc.name)) { %>
	<span><a class="edit" href="/edit/<%= doc.name %>/<%= doc.time.day %>/<%= doc.title %>">编辑</a></span>
	<span><a class="edit" href="/remove/<%= doc.name %>/<%= doc.time.day %>/<%= doc.title %>">删除</a></span>
	<% } %>
</p>
<p><%- doc.post %></p>
<%- include comment %>
<%- include footer %>